@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.125rem;
  background-color: hsl(221, 100%, 96%);
}
@media screen and (width > 780px) {
  body {
    align-items: center;
  }
}

button {
  font: inherit;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
}
@media screen and (width > 425px) {
  .wrapper {
    max-width: 375px;
  }
}
@media screen and (width > 780px) {
  .wrapper {
    max-width: 736px;
    border-radius: 2rem;
    overflow: hidden;
  }
}

.left {
  flex-basis: 100%;
  background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 1.5rem 0 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (width > 780px) {
  .left {
    flex-basis: 50%;
    border-radius: 2rem;
    padding: 2.375rem 0 2.875rem;
  }
}
.left__title {
  color: hsl(241, 100%, 89%);
  font-size: 1.125rem;
  font-weight: 700;
}
@media screen and (width > 780px) {
  .left__title {
    font-size: 1.5rem;
  }
}
.left__subtitle {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (width > 780px) {
  .left__subtitle {
    font-size: 2rem;
  }
}
.left__text {
  width: 260px;
  margin-inline: auto;
  color: hsl(241, 100%, 89%);
  font-size: 1rem;
  font-weight: 500;
}
@media screen and (width > 780px) {
  .left__text {
    font-size: 1.125rem;
  }
}
.left .score {
  width: 140px;
  height: 140px;
  margin-inline: auto;
  background-image: linear-gradient(to bottom, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (width > 780px) {
  .left .score {
    width: 200px;
    height: 200px;
  }
}
.left .score__result {
  color: hsl(241, 100%, 89%);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}
@media screen and (width > 780px) {
  .left .score__result {
    font-size: 1.125rem;
  }
}
.left .score__result--big {
  display: block;
  color: #fff;
  font-size: 3.5rem;
  font-weight: 800;
}
@media screen and (width > 780px) {
  .left .score__result--big {
    font-size: 4.5rem;
  }
}

.right {
  flex-basis: 100%;
  padding: 1.5rem 1.875rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (width > 780px) {
  .right {
    flex-basis: 50%;
    padding: 2.375rem 2.5rem 2.875rem;
  }
}
.right__title {
  color: hsl(224, 30%, 27%);
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}
@media screen and (width > 780px) {
  .right__title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
}
.right__box {
  font-size: 1rem;
  flex-basis: 100%;
  height: 3.5rem;
  background-color: #fff5f5;
  padding-inline: 1rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right__box-icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.right__box-title {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(0, 100%, 67%);
  margin-right: auto;
}
@media screen and (width > 780px) {
  .right__box-title {
    font-size: 1.125rem;
  }
}
.right__box-score {
  font-weight: 700;
  color: hsl(224, 30%, 27%);
}
@media screen and (width > 780px) {
  .right__box-score {
    font-size: 1.125rem;
  }
}
.right__box-score--bright {
  opacity: 0.5;
}
.right__box:nth-child(3) {
  background-color: #fffbf5;
}
.right__box:nth-child(3) .right__box-title {
  color: hsl(39, 100%, 56%);
}
.right__box:nth-child(4) {
  background-color: #f0fffb;
}
.right__box:nth-child(4) .right__box-title {
  color: hsl(166, 100%, 37%);
}
.right__box:nth-child(5) {
  background-color: #f6f6fe;
}
.right__box:nth-child(5) .right__box-title {
  color: hsl(234, 85%, 45%);
}
.right__btn {
  position: relative;
  background-color: hsl(224, 30%, 27%);
  color: #fff;
  flex-basis: 100%;
  padding: 1rem 0;
  margin-top: 0.5rem;
  border: none;
  border-radius: 8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.right__btn:hover, .right__btn:focus-visible {
  background-color: hsl(241, 81%, 54%);
}
@media screen and (width > 780px) {
  .right__btn {
    margin-top: 1.5625rem;
  }
}/*# sourceMappingURL=index.css.map */